
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito:wght@400;500;600;700&family=Inter:wght@500;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --font-title: 'Bebas Neue', sans-serif;
    --font-text: 'Poppins', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

.container-header {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header h1 {
    font-weight: 500;
    font-family: var(--font-title);
    color: #5789ff;
}
.container-header ion-icon {
    font-size: 3rem;
    color: #5789ff;
    margin-right: 10px;
}


header .container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

header nav ul li a {
    text-decoration: none;
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 20px;
    color: #444;
}

header ul li .active {
    color: #5789ff;
}

header nav ul li a:hover {
    background-color: #5789ff;
    border-radius: 10px;
    color: #fff;
    transition: .3s;
}

/* Home-area */

#home-area {
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5789ff;
}

#home-area .content {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

#home-area div .title {
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--font-title);
    line-height: 65px;
    color: #fff;
    word-spacing: 5px;
}

#home-area div .subtitle {
    font-family: var(--font-text);
    margin-top: 25px;
    font-size: 1.8rem;
    color: #fff;
    
}

#home-area div.btn {
    margin-top: 55px;
}

#home-area .btn a {
    text-decoration: none;
    padding: 15px 35px;
    background-color: #fff;
    border:  2px solid #fff;
    border-radius: 10px;
    color: #5789ff;
    font-size: 1.5rem;
    font-weight: bold;
}
#home-area .btn a:hover {
    color: #fff;
    background-color: #5789ff;
    transition: all 0.3s ease-in-out;
}

#home-area div img.img-banner {
    width: 350px;
    height: auto;
    margin-left: 25px;
}

#home-area div img.img-banner {
    animation: flutuacao-home 10s ease-in-out infinite;
}

@keyframes flutuacao-home {
    0%, 100% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
}

/* section feature */

section#feature{
    position: relative;
}

section .container-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

div .container-header-feature h2 {
    font-family: var(--font-title);
    color: #242424;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
div .container-header-feature p {
    
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

section div .container-about-banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-banner {
    display: flex;
    align-items: center;
}

div .about-banner img {
    margin-right: 25px;
    width: 350px;
}


article .container-box {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 25px;
}

article.about-colum div .block ion-icon {
    font-size: 3.5rem;
    padding-bottom: 10px;
}
article.about-colum div .block {
    margin: 20px;
    height: 360px;
    width: 300px;
    border: 2px solid #5789ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

article.about-colum div .block:hover {
    background-color: #5789ff;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

article .block h4 {
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    font-family: var(--font-text);
}

article .block p {
    font-size: 1.1rem;
    margin-top: 15px;
    font-family: var(--font-text);
    font-weight: bold;
}

article .container-box .box-position {
    position: relative;
    top: 30px;
}



/* section about product */

section#about-product {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color:#5789ff;
}

section .container-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

section .container-product-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container-product-title h2 {
    font-family: var(--font-title);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

section .container-product-title p {
    font-family: var(--font-text);
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
    color: #fff;
}

section .container-product img {
    animation: flutuacao 10s ease-in-out infinite;
}
@keyframes flutuacao{
    0%, 100% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
}

section div .container-product-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-banner-desc {
    width: 700px;
}
.container-product-banner div li {
    display: flex;
    margin-bottom: 40px;
}

.container-product-banner div li .icon {
    text-align: center;
    font-size: 6rem;
    color: #fff;
    margin-right: 30px;
}

.container-product-banner div li .content h4 {
    font-size: 1.8rem;
    font-family: var(--font-text);
    color: #fff;
    margin-bottom: 5px;
}

.container-product-banner div li .content p {
    font-size: 1.5rem;
    font-family: var(--font-text);
    color: #fff;
}

section .container-product .about-banner {
    position: relative;
}
section .container-product div img {
    width: 500px;
    height: auto;
    padding: 0 50px;
}

/* Section resource-product */

section#resource-product {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section .container-resource-feature {
    display: flex;
}

section .resource-tittle {
    padding-bottom: 50px;
}

section .resource-tittle h2 {
    font-family: var(--font-title);
    color: #242424;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

section .resource-tittle p {
    font-size: 1.2rem;
    font-family: var(--font-text);
    font-weight: bold;
    max-width: 700px;
    margin-top: 20px;
}

section .resource-banner {
    display: flex;
    align-items: center;
}
section .resource-banner img {
    width: 300px;
}

section div .resource-content ul {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
}

section div .resource-content .box-right {
    padding-right: 50px;
    text-align: right;
}
section div .resource-content .box-left {
    padding-left: 50px;
}

section div .resource-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div .resource-content ul li h4 {
    font-size: 1.5rem;
    font-family: var(--font-text);
    font-weight: bold;
}

section div .resource-content ul li p {
    font-size: 1.2rem;
    font-family: var(--font-text);
    font-weight: bold;
}

section div .resource-content ul li ion-icon {
    text-align: center;
    font-size: 3.5rem;
    color: #5789ff;
    margin: 0 30px;
}

/* efeitos dos cards*/
/*
div.slide:hover .card-img {
    transform: translateY(-100px) rotate(15deg);
}

div.slide:hover div.slide-data {
    transform: translateY(200px)
}

div.slide:hover .title {
    transform: translateX(-40px);
}

div.slide:hover .preco {
    transform: translateX(-30px);
}

div.slide:hover p, div.slide:hover .button {
    transition-delay: .2s;
    opacity: 1;
}*/


/* section contact */

section#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section form {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

form #name,
form #email {
    padding: 0 20px;
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #5789ff;
    font-size: 1.3rem;
    color: #999;
    font-family: var(--font-text);
    margin-bottom: 20px;
}


form textarea {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #5789ff;
    font-size: 1.3rem;
    color: #999;
    font-family: var(--font-text);
    margin-bottom: 10px;
}

form button {
    padding: 10px 30px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #5789ff;
    border: 2px solid #5789ff;
    color: #fff;
    border-radius: 4px;
    font-family: var(--font-text);
}
.form-info .form-title {
    padding-bottom: 30px;
}
.form-info h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--font-title);
}


.form-info div.cont {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form-info div.cont p {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-info div ion-icon {
    color: #5789ff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}



 /* area footer */

 footer .container-footer {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

footer .desc-footer {
    display: flex;
    padding-bottom: 30px;
}

footer .desc-footer h2 {
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: 500;
    color: #5789ff;
}
footer .desc-footer ion-icon {
    font-size: 4rem;
    margin-right: 10px;
    color: #5789ff;
}

footer .footer-links ul {
    display: flex;
    list-style: none;
}

footer .footer-links ul li a {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 55px;
    margin: 5px 5px;
    border-radius: 50%;
    box-shadow: 0 5px 15px #888;
    color: #fff;
}
.footer-links #facebook {
    background-color: #00f;
}
.footer-links #twitter {
    background-color: #00c6f7;
}
.footer-links #linkedin {
    background-color: #007bb5;
}
.footer-links #google {
    background-color: #d1062c;
}
.footer-links #instagram {
    background-color: #E1306C;
}


@media (max-width: 1024px) {


    header nav ul li a {
        font-size: 1rem;
    }
    #home-area div .title {
        max-width: 450px;
        font-size: 3rem;
        line-height: 45px;
    }
    #home-area div .subtitle {
        max-width: 400px;
        font-size: 1.5rem;
    }
    #home-area .banner img {
        max-width: 350px;
    }

    .container-feature .about-banner img {
        max-width: 300px;
        left: 100px;
        top: 200px;
    }
    .container-feature .container-box {
        justify-content: center;
    }
    article.about-colum div .block {
        max-width: 200px;
        padding: 20px;
    }
    .container-feature .block h4 {
        font-size: 1rem;
    } 
    .container-feature .block p {
        font-size: 0.85rem;
    }


    section div .container-product-banner {
        width: 100%;
        justify-content: space-around;
    }
    .product-banner-desc {
       width: 550px;
    } 
    .container-product-banner div li .icon {
        font-size: 3.5rem;
        display: flex;
        align-items: center;
    }
    .container-product-banner div li {
        margin-bottom: 25px;
    }
    .container-product-banner div li .content h4,
    .container-product-banner div li .content p {
        font-size: 1.3rem;
    }
    
    .container-product .about-banner img {
        width: 300px;
        padding: 0;
    }



    .resource-product .resource-banner img {
        max-width: 250px;
        position: relative;
        top: 100px;
    }
    .resource-product .resource-content .box-right,
    .resource-product .resource-content .box-left {
        padding: 0;
    }
    .resource-product .resource-content ul {
        max-width: 350px;
        justify-content: space-evenly;
    }


    

    .contact {
        flex-direction: column;
    }
}

@media(max-width: 768px) {

    .container-header .container-nav {
        width: 400px;
    }

    #home-area {
        justify-content: center;
    }
    #home-area .content {
        width: 350px;
        margin: 20px;
    }
    #home-area .content h1 {
        width: 100%;
        font-size: 2.5rem;
        line-height: 37px;
    }
    #home-area .content p {
        width: 100%;
        margin-top: 20px;
    }
    #home-area div img.img-banner {
        width: 220px;
    }


    .section.feature {
        height: 100vh;
    }
    section .container-feature {
        justify-content: space-around;
    }
    div .container-header-feature p {
        margin-top: 0;
        font-size: 1rem;

    }
    .feature .container-about-banner {
        flex-direction: column;
        align-items: center;
    }
    .container-feature .about-banner img {
        margin: 0;
        max-width: 210px;

    }
    .container-feature .container-box {
        margin: auto;
    }
    .container-feature .container-box .block  {
        min-width: 280px;
        height: 230px;
    }
    article.about-colum div .block {
        margin: 10px;
        padding: 10px;
    }



    section.about-product {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    section .container-product {
        align-items: center;
        justify-content: center;
    }
    section .container-product-title {
        padding: 0;
    }
    section div .container-product-title h2 {
        margin-top: 20px;
    }
    
    section div .container-product-banner {
        justify-content: center;
    }
    .container-product-banner div ul {
        max-width: 500px;
    }
    .container-product-banner div li {
        margin-bottom: 20px;
    }
    
    .container-product-banner .about-banner {
        order: -1;
        position: relative;
    }
    .resource-product .resource-banner img {
        width: 200px;
    }


    section.resource-product {
        height: 100vh;
        justify-content: none;
    }
    .resource-product .resource-tittle {
        padding-bottom: 0;
    }
    .container-resource-feature .resource-content {
        height: 100px;
    }
    .container-resource-feature .resource-content ul {
        justify-content: center;
        width: 100%;
    }
    .container-resource-feature .resource-content ul li {
        padding-bottom: 30px;
    }
    .container-resource-feature .resource-content ul li .icon-right {
        
    }
    .container-resource-feature .resource-content ul li h4 {
        font-size: 1.3rem;
        line-height: 25px;
    }
    .container-resource-feature .resource-content ul li p {
        font-size: 1rem;
    }










    .products-available .container-products .cards {
        max-width: 750px;
    }
    .container-products .cards .slide {
        min-width: 330px;
        margin: 0 25px;
    }
    .container-products .cards .slide h1 {
        font-size: 1.3rem;
    }

}